# Python
.venv/
**/.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Django
db.sqlite3
staticfiles/
media/

# Environments
.env
.env.*

# IDE
.idea/
.vscode/

# Testing
.pytest_cache/
htmlcov/
.coverage

# System
.DS_Store
Thumbs.db